[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Dd]ebug/
[Bb]in/

.idea/
.project
.settings

package*.json

**/gradleScripts/
**/githooks/

*.log

# Unity3D generated meta files
*.pidb.meta
/Docs/*

#Build-outputs (target)
**/target/
build

!Assets/CoreTech/Resources/CoreTechSettings.asset
JetBrains.meta
JetBrains/

#dotnet-sources
**/packages
**/libs
**/bin
**/*.user
